:root[data-theme='dark'] {
  --background-primary-color: #23262d;
  --background-secondary-color: #ffffff;

  --background-primary-hover: #3c3f47;
  --background-secondary-hover: #828387;

  --text-primary-color: #f3f4f6;
  --text-secondary-color: #23262d;
}
