:root[data-theme='light'] {
  --background-primary-color: #ffffff;
  --background-secondary-color: #23262d;

  --background-primary-hover: #d3d5de;
  --background-secondary-hover: #3c3f47;

  --text-primary-color: #23262d;
  --text-secondary-color: #f3f4f6;
}
