@import './Theme/variables.scss';
@import './Theme/typoghraphy.scss';

.AppWrapper {
  @include base-body;
  height: 100vh;
  display: flex;
  flex-direction: column;

  color: $text-primary-color;

  background-image: url('./assets/images/loginback.png');
  background-repeat: no-repeat;
  background-size: cover;
}
